* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* global css */
.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 2em;
  margin: 0.5em 0;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  cursor: pointer;
}

a.btn {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

a img {
  margin-right: 10px;
}

/* Login page */
.login-page {
  display: flex;
}

.col-left {
  width: 57%;
  height: 100vh;
}

.col-right {
  width: 43%;
  background: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-left img {
  height: 100%;
  width: 100%;
}

.form-parent {
  z-index: 9;
  position: relative;
}

form {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(180, 180, 180, 0.2);
  border-radius: 2px;
  padding: 2em 4em;
  text-align: center;
}

.form-logo {
  margin-bottom: 1.5em;
}

.form-group {
  margin-bottom: 2em;
  text-align: left;
  font-size: 11px;
  color: #999999;
}

.form-input {
  border: 1px solid #e5e5e5;
  width: 100%;
  padding: 0.8em 1em;
  margin-bottom: 0.8em;
}

.create-account-text {
  font-size: 14px;
  text-align: center;
  margin: 2em 0;
}

.patterns {
  z-index: -99;
  position: relative;
}

#pattern-1 {
  position: absolute;
  top: -520px;
  left: -10px;
}

#pattern-2 {
  position: absolute;
  top: -130px;
  right: -10px;
}

.or {
  padding: 0.6em;
}

.or p {
  display: inline-block;
}

.or span {
  display: inline-block;
  height: 0.1px;
  width: 130px;
  margin: 0.5em;
  background: #53a9e7;
}

/* Dashboard */
header {
  display: flex;
  place-content: space-between;
  align-items: center;
  background-color: #060f41;
  padding: 1em 4em;
  color: #fff;
}

.search {
  width: 300px;
}

input.icon-search {
  font-size: 14px;
  width: 100%;
  border: 1px solid #555;
  display: block;
  padding: 10px 15px;
  border-radius: 2.66742px;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 16px;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  margin-right: 2em;
  font-weight: lighter;
}

.cart {
  display: flex;
  align-items: center;
  background: #53a9e7;
  padding: 0.8em 0.8em;
}
.cart img {
  margin-right: 5px;
}
.cart span {
  border-radius: 2.66742px;
  margin-left: 5px;
  padding: 0.4em 0.6em;
  background: #fff;
  color: #000;
  font-size: 14px;
}

.dashboard {
  background: #eff3f8;
  height: 100vh;
}

.search-pane {
  background: #fff;
  padding: 1.5em 0;
  border: 1.00028px solid #d7dbde;
}

.search-pane .container,
.dashboard .container {
  width: 92%;
}

.search-pane p {
  font-size: 14px;
}

.search-pane p strong {
  margin-right: 5px;
}

.search-result-bar {
  width: 100%;
  padding: 2em 0 0.5em 0;
  border-bottom: 1px solid #d7dbde;
}

.search-result-bar p {
  margin-bottom: 0.5em;
}

.search-result-heading {
  text-align: center;
}

.search-result {
  background: #fff;
  text-align: center;
}

/* Drop down */
.drop-down {
  display: flex;
  place-content: space-between;
  margin: 2em 0;
  /* flex-direction: column; */
}
.drop-down-container {
  width: 18%;
  /* padding: 2em; */
}

.drop-down-header {
  display: flex;
  place-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 2.66742px;
  padding: 0.4em 2em 0.4em 1em;
}

.drop-down-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  padding-left: 1em;
  background: #ffffff;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.drop-down-list-container {
  position: relative;
}

.list-item {
  list-style: none;
  margin-bottom: 0.8em;
}

/* Products and search results */
.products {
  margin: 2em 0;
  /* padding: 0 2em; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px 30px;
  justify-content: center;
}

.search-result {
  padding: 2em 0;
}

.card {
  text-align: left;
  width: 289px;
  /* background: #eff3f8; */
}

.card-image,
.card-image img {
  width: 100%;
}

.card-texts {
  padding: 1em 0;
}

.card-texts p {
  font-size: 16px;
  font-weight: lighter;
}

.card-texts h4 {
  margin-top: 5px;
}

.tailor {
  display: flex;
  margin-top: 5px;
}

.tailor span {
  font-size: 14px;
  margin-left: 10px;
}
